body{
	overflow:hidden;
}
.page{
	display:none;
	padding-top:70px;
}

.page.active{
	display:block;
}

.thumbnail{
	width:80px;	
	float:left;
}
.panel-body{
	padding:5px;
}
.feed-img{
	width:80px;
}
.feed-right{
	padding-left:100px;
}
.icon{
	height:30px;
	Padding-left:30px;
}
.chat-window{
	width:300px;
	position:fixed;
	bottom:0;
	z-index:9000;
	margin-bottom:0;
}

.well{
	padding:7.5px;
}
.chat-me{
	background:red;
}

.chat-container{
	overflow:auto;
	max-height:200px;
}

.jumbotron{
	max-height:100%;
	padding:70px 0 0 0;
	background:white;
}

.nav-btn-container{
	position:fixed;
	bottom:0;
	width:100%;
}

#upfront{
	margin:0px;
	padding:0px;
	color: black;
	text-align:center;
	font-size:18px;
}
#signin{
	border-radius:2px;
	height:40px;
	line-height:40px;
	padding:0px;
	margin:20px auto 5px auto;
	width:300px;
	display:block;
	background:#6188D2;
	border:none;
}

#nav-foot{
	background:white;
	height:100px;
	border:none;
	-moz-box-shadow: 0 0 10px #888;
	-webkit-box-shadow: 0 0 10px#888;
	box-shadow: 0 0 10px #888;
	text-shadow:none;
}

.landing-img{
	display:block;
	width:300px;
	margin:0px auto;
}
.txtctr{
	text-align:center;
}